@import url(normalize.css);
.border {
  border: 1px solid red;
}
.page {
  margin: 0;
  padding: 0;
  min-width: 800px;
  background-color: bisque;
}
.header {
  margin: 0;
  padding: 0;
  min-height: 80%;
}
.header__title {
  margin: 20px auto;
  padding: 0;
  font-size: 36px;
  width: fit-content;

}
.footer__title {
  margin: 20px auto;
  padding: 0;
  font-size: 22px;
  /* text-align: center; */
  width: fit-content;
}
.main {
  margin: 0;
  padding: 0;
  min-height: 600px;
}
.block {
  margin: auto;
  padding: 0;
  width: 30%;
}
.block__image {
  width: 100%;
  padding-bottom: 100%;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: center;
}
